/* body {background-color: lightblue;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}

:root { /*It is best to create variables for later use in the root.  Later changed them .*/

    /*--color-body-bg: #d8dae2;*/
    --color-body-bg: rgba(225, 226, 151, 0.747);
    --color-white: #fff;
    --color-light: #eff0f1;
    --color-dark: #12122e;

    --transition: all 300ms ease; /*could use ease-in or ease-out as well*/

}


body {
    background: var(--color-body-bg);
    display: grid; /*to center an object, use grid*/
    place-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: var(--transition);
}

main {
    background: rgba(168, 172, 161, 0.411);/*background: var(--color-light);*/
    width: 70%;
    padding: 3rem;
    border-radius: 1rem;
}
